@{ //razor code title
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


@*Anna Dalley
Section 1 Group 4*@


<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Search Joel's Movie Collection!</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" />

